* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

#app {
  width: 90vw;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#keyslot {
  color: #ddd;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 20px;
}

#app--generate-key {
  padding: 0.7rem 1.2rem;
}

h1 {
  color: blue;
}

button {
  border: 2px solid seagreen;
  border-radius: 5px;
  background: lightgreen;
  transition: all 0.3s;
}

button:hover {
  background: greenyellow;
  cursor: pointer;
}

button:active {
  background: yellow;
}
