* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

body {
  background: slategray;
}

p {
  text-align: center;
}

.input {
  font-family: "Franklin Gothic Light", "Arial Narrow", Arial, sans-serif;
}

#app {
  width: 95vw;
  height: 95vh;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  animation: fadein 2s;
}

.app--container {
  background: #fff;
  box-shadow: 0px 2px 6px 2px #555;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  padding: 30px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#keyslot {
  color: #ddd;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 20px;
}

#app--generate-key {
  padding: 0.8rem 1.6rem;
}

h1 {
  color: green;
}

button {
  border: 3px solid seagreen;
  border-radius: 5px;
  background: limegreen;
  box-shadow: 0px 2px 4px 1px #ddd;
  color: #fff;
  transition: all 0.3s;
  outline: none;
}

button:hover {
  background: lightgreen;
  cursor: pointer;
}

button:active {
  background: greenyellow;
  box-shadow: 0px 0px 0px #ddd;
  transform: translateY(2px);
}
