* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

p {
  text-align: center;
}

.input {
  font-family: "Franklin Gothic Light", "Arial Narrow", Arial, sans-serif;
}

#app {
  width: 95vw;
  height: 95vh;
  margin: auto auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s;
  animation: fadein 2s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#keyslot {
  color: #ddd;
  border: 1px solid #777;
  border-radius: 5px;
  padding: 20px;
}

#app--generate-key {
  padding: 0.7rem 1.2rem;
}

h1 {
  color: green;
}

button {
  border: 3px solid seagreen;
  border-radius: 5px;
  background: limegreen;
  box-shadow: 2px 2px 2px #ddd;
  color: #fff;
  transition: all 0.3s;
}

button:hover {
  background: greenyellow;
  cursor: pointer;
}

button:active {
  background: yellow;
  box-shadow: 0px 0px 0px #ddd;
}
